h1{

    text-align: center;
    text-decoration: underline;
}

div{
    text-align: center;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin-right: 10px;
    display: inline-block;

}